<div class="m-4">
    <h1>Stupid Coaching</h1>
    <div class="div-style">
        <p><%=@question%></p>
        <p class="talker">-You</p>

    </div>

    <div class="div-style">
        <p class="coach"><%=@answer%></p>
        <p class="talker">-Your coach</p>
    </div>

    <%=link_to "retour aux questions", ask_path%>
</div>

